.markdown-view * {
  @apply my-[16px];
}

.markdown-view h1 {
  @apply mt-[40px] font-[600];
}
.markdown-view h2 {
  @apply mt-[36px] font-[550];
}
.markdown-view h3 {
  @apply mt-[32px] font-[500];
}
.markdown-view h4 {
  @apply mt-[28px] font-[450];
}

.markdown-view hr {
  @apply my-[40px];
}

.markdown-view a {
  @apply m-0 text-blue-400;
}
.markdown-view input {
  @apply m-0;
}

.markdown-view ol {
  @apply list-decimal pl-[2rem];
}

.markdown-view ul {
  @apply pl-[2rem];
}

.markdown-view img {
  @apply w-full object-cover rounded-md;
}

.markdown-view ul {
  list-style-type: disc;
  margin-left: 1.5rem;
}

.markdown-view blockquote {
  border-left: 3px solid #ccc;
  padding-left: 1rem;
  color: #555;
  font-style: italic;
}

.markdown-view code {
  @apply text-[14px];
  background: #f6f8fa;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
}

.markdown-view pre {
  background: #f6f8fa;
  padding: 1rem;
  border-radius: 5px;
  overflow-x: auto;
}
